@media (max-width: 1200px) {

    .backstage {
        padding-left: 0;
    }

    .backstage__title-img {
        width: 500px;

    }

    .backstage__flower--photo-two {
        height: 180px;
    }

    .backstage__flower--palm {
        left: 396px;
        bottom: 105px;
        width: 386px;
    }

    .backstage__title-block {
        height: 408px;
        margin-bottom: 152px;
        justify-content: flex-start;
    }

    .backstage__title-img {
        width: 455px;
        object-fit: none;
    }

    .backstage__title-content {
        margin-top: -8px;
        width: 453px;
    }


    .backstage__content {
        padding: 0 10px;
    }

    .backstage__card {
        width: 294px;
        height: 354px;
    }

    .backstage__card-image {
        width: calc(100% - 2px);
        height: 294px;
    }

    .backstage__card-image img {

        height: 294px;
    }

    .backstage__card-caption {
        width: 294px;
    }

    .cards-button.prev {
        left: 365px;
        transform: translate(-51%, -140%);
    }

    .cards-button.next {
        right: 300px;
        transform: translate(-51%, -140%);
    }

    .friends {
        padding: 30px 15px 0;
        min-height: 876px;
    }

    .friends__content {
        padding: 30px 47px 100px 49px;
        height: 796px;
    }

    .friends__title {
        margin-bottom: 21px;
    }

    .friends__subtitle {
        margin-bottom: 21px;
    }

    .friends__note {
        white-space: normal;
        margin-right: 30px;
    }

    .friends__text br {
        display: none;
    }

    .friends__text {
        margin-bottom: 40px;
    }

    .friends__cards {
        margin-bottom: 73px;
    }

    .request {
        height: 842px;
    }

    .request__container {
        padding-top: 102px;

    }

    .request__title {
        margin-bottom: 32px;
    }

    .request__cards-block {
        max-width: 940px;
    }
    .request__card {
        width: 293px;
        height: 391px;
    }

    .card__wrapper {
        width: 289px;
        height: 387px;
    }

    .request__card:last-child {
        display: none;
    }

    .request__scroll {
        width: 390px;
    }

    .request__scroll::-webkit-slider-thumb {
        width: 75px;
    }

    .request__cards-block {
        margin-bottom: 21px;
    }

    .backstage__flower--leav {
        height: 328px;
        bottom: -88px;
    }

    .footer .nav__container {
        padding-left: 0;
        margin-left: -5px;
    }

    .subscribe-form {
        position: relative;
        right: 98px;
    }

    .footer__aside-container {
        align-items: center;
    }

    .footer .subscribe-form .subscribe-submit {
        margin-left: 9px;
    }

    .subscribe-form form label {
        display: flex;
    }

    .container.footer__container {
        padding-right: 20px;
        padding-left: 30px;
        max-width: 1000px;
        overflow: hidden;
    }

    .footer__copyright {
        position: relative;
        left: 20px;
    }

    .panda-block {
        overflow: hidden;
        height: 390px;
    }

    .panda-block img {
        width: 126%;
    }


    .donate {
        height: 1333px;
    }

    .donate__title {
        width: 80%;
        margin-bottom: 30px;
    }

    .feed__info {
        margin-bottom: 39px;
    }

    .feed__block {
        padding: 21px 49px 20px 35px;
        height: 919px;
    }

    .feed__title {
        margin-bottom: 13px;
    }

    .pay__container {
        align-self: center;
    }

    .pay__title {
        padding-left: 43px;
    }

    .pay__line {
        left: 42px;
        width: 810px;
    }

    .pay__line:after {
        width: 775px;
        left: 20px;
    }

    .pay__line-block {
        padding-left: 13px;
    }

    .pay__point:first-child {
        display: none;
    }

    .pay__cost {
        padding-left: 26px;
    }

    .radio-container {
        gap: 48px;
    }

    .swiper-slide {
        gap: 92px;
    }

    .swiper-container {

        max-width: 945px;
    }

}

@media (max-width: 1000px) {

    .container {
        max-width: 940px;
    }

    .general {
        height: 584px;
    }

    .nav__menu {
        gap: 48px;
    }

    .general__title {
        font-size: 85px;
        top: 122px;
        right: 21px;
    }

    .general__content:after {
        top: 69px;
        right: 162px;
        width: 367px;
        height: 367px;
    }

    .general__background {
        height: 584px;
    }

    .general__content .main__button {
        bottom: 47px;
        right: 122px;
    }

    /*------------------------------------*/
    .backstage {
        padding-top: 109px;
        height: 1635px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .backstage__flower--photo-one {
        display: none;
    }

    .cards-button.prev {
        left: 365px;
        transform: translate(-51%, -83%);
    }

    .cards-button.next {
        right: 300px;
        transform: translate(-51%, -83%);
    }

}

@media (max-width: 999px) {


    .general__background {
        min-height: auto;
    }
    .backstage {
        padding-top: 68px;
        overflow: hidden;
        height: 1410px;
    }

    .backstage__title-block {
        justify-content: flex-start;
        margin-left: 7px;
        margin-bottom: 33px;

    }

    .backstage__title-img {
        display: none;
    }

    .backstage__flower--photo-one {
        display: block;
        height: 476px;
        right: -28px;
        top: -4px;
    }

    .backstage__text:first-of-type {
        margin-bottom: 31px;
    }

    .backstage__subtitle {
        margin-bottom: 20px;
    }

    .backstage__text {
        width: 495px;
    }

    .backstage__card {
        width: 286px;
        height: 332px;
    }

    .backstage__card-caption {
        width: 285px;
        height: 45px;
        padding-top: 5px;
        padding-left: 12px;
    }

    .card-title {
        font-size: 12px;
    }

    .card-description {
        font-size: 12px;
    }

    .backstage__card-caption svg {
        width: 26px;
        height: 29px;
        right: 8px;
    }

    .backstage__card-image {
        height: 283px;
        overflow: hidden;
    }

    .cards-button.prev {
        left: 256px;
        transform: translate(-51%, -96%);

    }

    .cards-button.next {
        right: 192px;
        transform: translate(-51%, -96%);

    }

    .backstage__card:nth-last-child(3) {
        display: block;

    }

    .backstage__card:nth-last-child(4), .backstage__card:nth-last-child(5), .backstage__card:nth-last-child(6) {
        display: none;
    }


    .backstage .main__button {
        top: 58px;
    }

    .backstage__flower--palm {
        left: 336px;
        bottom: 105px;
    }

    .backstage__flower--photo-two {
        height: 131px;
    }

    .friends {
        padding: 19px 0 0;
        min-height: 781px;
    }

    .friends__content.container {
        padding: 10px 0 10px 20px;
        max-width: 640px;
        height: 742px;

    }

    .friends__title {
        font-size: 42px;
        align-self: flex-start;
        padding-left: 98px;
    }

    .friends__subtitle {
        font-size: 22px;
        line-height: 120%;
    }

    .friends__text {
        margin-bottom: 30px;

    }

    .friends__cards-title {
        margin-bottom: 19px;
        align-self: flex-start;
        padding-left: 196px;
    }

    .friends__cards {
        gap: 42px;
        align-self: flex-start;
        margin-bottom: 41px;
    }

    .friends__card > svg {
        display: none;
    }

    .friends__card:not(:last-child):after {
        content: url('../ico/arrow.png');
        position: absolute;
        top: -16px;
        left: 136px;
        z-index: 5;
    }

    .friends .main__button {
        align-self: flex-start;
        margin-left: 151px;
    }


    .request {
        height: 667px;
    }

    .request__container {
        padding-top: 61px;
    }

    .request__cards-block {
        display: block;
        max-width: 100%;
        height: 370px
    }

    .request__cards {
        flex-direction: column;
        width: 100%;
    }


    .request .request__card {
        width: 100%;
        height: 109px;
    }

    .card__wrapper {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        padding-left: 10px;
        padding-bottom: 8px;
        overflow: hidden;
    }

    .request__card-text {
        padding-left: 5px;
        height: 37px;
    }

    .request__scroll {
        display: none;
    }

    .request .main__button {
        align-self: center;
        width: 240px;
    }

    .backstage__flower--leav {
        height: 201px;
        right: -6px;
        bottom: -67px;

    }

    .subscribe-form {
        display: none;
    }

    .footer {
        height: 282px;
    }

    .footer__container.container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 12px 8px 12px 20px;
        max-width: 640px;

    }

    .footer__logo-block {
        grid-column: span 2;
        display: grid;
        grid-template-areas: 'l s'
                             'b s';
        height: 164px;
        justify-content: space-between;
    }

    .footer .logo__container {
        grid-area: l;
        border: 1px solid white;
        width: 80px;
        height: 50px;
        font-size: 19px;
        margin-bottom: 33px;
    }

    .footer .main__button {
        grid-area: b;
    }

    .footer__socials {
        grid-area: s;
        width: auto;
        gap: 20px;
        align-self: flex-start;
    }

    .footer .social-name {
        display: none;
    }

    .footer .nav__container {
        margin-left: 0;
        margin-right: 32px;
    }

    .footer .nav__menu {
        gap: 37px;
    }

    .footer__aside-container {
        align-self: flex-end;
    }

    .panda-block {
        height: 369px;
    }

    .donate {
        padding-top: 29px;
    }

    .donate__title {
        font-size: 24px;
        width: 100%;
        margin-bottom: 18px;
    }

    .donate__text {
        margin-bottom: 32px;
    }

    .feed__info {
        margin-bottom: 30px;
    }

    .feed__block {
        padding: 31px 0 20px;
    }

    .feed__title {
        padding-left: 10px;
        margin-bottom: 22px;
    }

    .feed__subtitle {
        text-align: center;
        margin-left: 6px;
        margin-bottom: 50px;
        padding: 0 15px;
    }

    .feed__diet-container {
        margin-left: -10px;
        padding-top: 55px;
    }

    .pay__container {
        width: 600px;
        margin-bottom: 49px;
    }

    .pay__line-block {
        gap: 0;
        padding-left: 0;
    }

    .pay__line {
        width: 100%;
        left: 0;
        top: 28px;
    }

    .pay__line:after {
        left: 40px;
        width: 520px;
    }

    .pay__title {
        padding-left: 10px;
        margin-bottom: -7px;
    }

    .pay__point:nth-child(2), .pay__point:nth-child(3) {
        display: none;
    }

    .feed__diet {
        margin-bottom: 42px;
    }

    .feed__input {
        width: 180px;
        height: 42px;
        margin-left: -18px;
        margin-bottom: 31px;
    }

    .radio-container {
        padding-left: 28px;
    }

    .feed__submit {
        margin-left: -15px;
    }

    .feed__form:after {
        top: 8px;
        right: 80px;
    }

    .pay__cost {
        padding-left: 10px;
    }

    .swiper-container {
        max-width: 610px;
    }
}

@media (max-width: 768px) {
    .nav__menu {
        gap: 30px;

    }
}

@media (max-width: 640px) {
    .container {
        max-width: 600px;
    }

    .header {
        position: fixed;
        height: 34px;
    }

    .logo__container {
        top: 0;
        width: 47px;
        height: 29px;
        border: none;
        font-size: 12px;
        line-height: 120%;
        z-index: 20;
        transition: all 0.5s;
    }

    .header .logo__img {
        width: auto;
        height: 15px;
        top: 22px;
        left: -5px;
    }

    .header__container {
        justify-content: space-between;
        padding: 0 20px;
    }

    .header__container .header__area.active {
        top: 20px;
        left: 0;
        display: block;
        width: 100vw;

        height: 100vh;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 3;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 18px;
        height: 10px;
        cursor: pointer;
        user-select: none;

    }

    .header__burger span {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 4px;
        border-radius: 1px;
        transform: scale(1) translate(0px, -50%);
        transition: all 0.5s ease-out;
        user-select: none;

    }

    .header__burger.active span {
        transform: scale(0) translate(0px, -50%);
        user-select: none;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.5s ease-out;
        user-select: none;
        border-radius: 1px;
    }

    .header__burger:before {
        top: -1px;
        user-select: none;
    }

    .header__burger.active:before {
        top: 50%;
        transform: rotate(45deg) translate(0px, -50%);
        user-select: none;
        z-index: 20;
        background-color: #333B41;
    }

    .header__burger:after {
        bottom: 1px;
        user-select: none;
    }

    .header__burger.active:after {
        bottom: 50%;
        transform: rotate(-45deg) translate(0px, 50%);
        user-select: none;
        z-index: 20;
        background-color: #333B41;
    }

    .header .nav__container {
        position: absolute;
        box-sizing: border-box;
        top: -2000%;
        left: 0;
        background-color: rgba(245, 245, 245, 1);
        width: 640px;
        height: 329px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 16px;
        overflow: hidden;
        transition: all 0.5s ease-out;
        user-select: none;
        color: #333B41;
        padding: 82px 10px 0;
        line-height: 140%;
    }

    .header .nav__menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 17px;
    }

    .header .logo__container.active {
        color: #FE9013;
        border: 1px solid #FE9013;
        width: 58px;
        height: 36px;
        top: 12px;
        left: -2px;
        transition: all 0.5s;
    }

    .header .logo__container.active path {
        fill: black !important;
    }

    .header .nav__container.active {
        top: 0;
        transition: all 0.5s;
        z-index: 18;
    }


    /*------------------------------------*/
    .general {
        height: 373px;
    }

    .general__title {
        width: 255px;
        height: 210px;
        font-size: 55px;
        top: 82px;
        right: 11px;
    }

    .general__content:after {
        top: 44px;
        right: 67px;
        width: 237px;
        height: 237px;
    }

    .general__background {
        height: 373px;
    }

    .general__content .main__button {
        top: 279px;
        left: 15px;
    }

}

@media (max-width: 639px) {
    .backstage {
        height: auto;
        padding-bottom: 81px;
    }

    .backstage__flower--photo-one {
        height: 217px;
        right: -40px;
        top: 0;

    }

    .backstage__title-block {
        padding-top: 6px;
        margin-bottom: 10px;
    }

    .backstage__title-content {
        width: 297px;
    }

    .backstage__title {
        font-size: 24px;
        margin-bottom: 9px;
        margin-left: -4px;
    }

    .backstage__text {
        width: 100%;
        margin-left: -4px;
        line-height: 138%;
    }

    .backstage__text:first-of-type {
        margin-bottom: 20px;
        margin-left: -2px;
        line-height: 135%;
    }

    .backstage__subtitle {
        margin-bottom: 9px;
        margin-left: -2px;
    }

    /*
        .backstage__cards {
            grid-template-columns: 1fr;
            justify-items: flex-start;
            row-gap: 20px;
        }
    */
    .cards-button {
        display: none;
    }

    .backstage .main__button {
        top: 21px;
        left: 146px;
    }

    .backstage__flower--photo-two {
        height: 71px;
        right: -22px;
        bottom: -4px;
    }

    .backstage__flower--palm {
        width: 138px;
        left: 508px;
        bottom: 157px;

    }


    .friends {
        padding: 20px 11px 20px 10px;
        min-height: 1082px;
    }

    .friends__content.container {
        padding-top: 20px;
        padding-left: 0;
        height: 1042px;
        width: 300px;
    }

    .friends__title {
        font-size: 24px;
        padding-left: 35px;

        margin-bottom: 11px;
    }

    .friends__subtitle {
        font-size: 18px;
        text-align: center;
        margin-bottom: 19px;
    }

    .friends__note {
        display: none;
    }

    .friends__text {
        display: none;
    }

    .friends__cards-title {
        padding-left: 81px;
        font-size: 24px;
    }

    .friends__cards {
        flex-direction: column;
        align-self: center;
        margin-bottom: 38px;
    }

    .friends__card:nth-last-child(2) {
        margin-bottom: -14px;
    }

    .friends__card-logo {
        margin-bottom: 10px;
    }

    .friends .main__button {
        margin-left: 0;
    }

    .friends__card:not(:last-child):after {
        top: 193px;
        left: 138px;
        transform: rotate(85deg);
    }

    .request {
        height: 580px;
    }

    .request__container {
        padding: 30px 10px 0;
    }

    .request__title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .request__cards-block {
        height: 357px;
    }
    .card__wrapper {
        padding-top: 10px;
    }

    .request__cards {
        margin-bottom: 11px;
    }

    .backstage__flower--leav {
        height: 104px;
        bottom: -40px;
        right: -7px;
        transform: rotate(-13deg);
    }

    .footer {
        height: 334px;
    }

    .footer__container.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7px 10px 20px;

    }

    .footer__logo-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .footer .logo__container {
        width: 100%;
        justify-content: center;
        border: none;
        margin-bottom: 15px;
    }

    .footer .logo__img {
        left: 148px;
    }

    .footer__socials {
        flex-direction: row;
        order: 2;
        align-self: center;
        padding-left: 12px;
        gap: 18px;
        margin-bottom: 31px;
    }

    .footer .main__button {
        order: 3;
        margin-right: 5px;
    }

    .footer .nav__container {
        order: 3;
        margin-right: 0;

    }

    .footer .nav__menu {
        padding-left: 11px;
        gap: 30px;
    }

    .footer__copyright {
        align-self: flex-end;
        left: -11px;
        font-size: 15px;
        gap: 12px;
    }

    .panda-block {
        height: 222px;

    }

    .donate {
        height: 1145px;
    }

    .donate__container {
        padding: 0 10px;
    }

    .donate__text {
        margin-bottom: 30px;
    }

    .feed__info {
        font-size: 24px;
    }

    .feed__title {
        font-size: 24px;
        margin-bottom: 10px;
        padding-left: 0;
    }

    .feed__subtitle {
        font-size: 16px;
        margin-left: 0;
        margin-bottom: 10px;
        padding: 0;
        line-height: 140%;

    }

    .feed__block {
        padding-top: 20px;
        height: 590px;
    }

    .feed__diet-container {
        padding-left: 0;
        padding-top: 32px;
        margin-left: 0;
        gap: 8px;

    }

    .feed__diet {
        gap: 50px;
        margin-bottom: 4px;
    }

    .feed__diet svg:first-of-type {
        width: 160px;
        height: 139px;
    }

    .feed__diet-day {
        font-size: 40px;
    }

    .feed__diet-caption {
        font-size: 9px;
    }

    .multiply-ico {
        width: 8px;
        height: 8px;
        left: 96px;
    }

    .pay__container {
        width: 300px;
        margin-bottom: 24px;
    }

    .pay__title {
        padding-left: 0;
        margin-bottom: 1px;
    }

    .pay__line {
        height: 13px;
        top: 30px;
    }

    .pay__line:after {
        width: 262px;
        height: 1px;
        top: 6px;
        left: 20px
    }

    .pay__cost {
        font-size: 13px;
        padding-left: 5px;
    }

    .pay__dot {
        width: 40px;
        height: 25px;
    }

    .pay__inner-dot {
        width: 5px;
        height: 5px;
    }

    .pay__dot.active .pay__inner-dot:after {
        width: 12px;
        height: 12px;
        border: 1px solid #FE9013;
        transform: translate(-28%, -28%);
        top: 0;
        left: 0;
    }

    .pay__dot.active .pay__inner-dot:before {
        width: 20px;
        height: 20px;
        border: 1px solid #FE9013;
        transform: translate(-36%, -37%);
        top: 0;
        left: 0;
    }

    .pay__point {
        width: 40px;
    }

    .feed__input {
        margin-bottom: 26px;
    }

    .radio-container {
        padding-left: 23px;
        gap: 47px;
        margin-bottom: 29px;
    }

    .custom-radio-btn {
        margin-right: 7px;
    }

    .feed__submit {
        margin-left: -20px;
    }

    .feed__share {
        padding-left: 0;
        margin-left: -1px;
    }

    .feed__form:after {
        top: 8px;
        right: 70px;
    }
    .swiper-container {
        height: 1388px;
    }
    .swiper-slide {
        gap: 20px;
    }
    .swiper-wrapper.backstage__cards {
        row-gap: 0;
    }
}


@media (max-width: 320px) {
    .header__container {
        padding: 1px 10px;
    }

    .general {
        height: 260px;
    }

    .general__title {
        width: 128px;
        height: 103px;
        font-size: 28px;
        top: 75px;
        right: 10px;
    }

    .general__content:after {
        top: 56px;
        right: 38px;
        width: 119px;
        height: 119px;
    }

    .general__background {
        top: 34px;
        height: 187px;
    }

    .general__content .main__button {
        top: 241px;
        left: 11px;
    }


}